.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  max-width: 300px;
  max-height: 190px;
  width: auto;
}

.largeImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  max-width: 1000px;
  max-height: 500px;
  width: auto;
}
